# API framework
fastapi
uvicorn

python-dotenv
requests
pymongo

faiss-cpu


pytest

plotly

pytest-asyncio

pytest-cov

locust


prometheus-fastapi-instrumentator

prometheus-client

matplotlib 
pandas

grpcio

grpcio-tools 
protobuf