# API framework
fastapi
uvicorn

python-dotenv
requests
pymongo

faiss-cpu

redis

qdrant-client

pytest

plotly

pytest-asyncio

pytest-cov

locust

uvloop


prometheus-fastapi-instrumentator

prometheus-client

matplotlib 
pandas

grpcio

grpcio-tools 
protobuf